body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #333;
}

canvas {
  width: 100vw;
  height: 100vh;
  image-rendering: pixelated;
}

#debug-container {
  padding: 1em;
  margin: 1em;
  border-radius: 0.3em;
  font-family: monospace;
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20em;
  border: 1px solid white;
  color: white;
  justify-content: start;
}

#debug-window {
  display: flex;
  flex-direction: column;
}
